* {
    padding: 0;
    margin: 0;
    color: black;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
   

html, body{
    background-color:white;
    font-size:15px;
    display:flex;
    margin:0;
    min-height:100vh;
    width: 100%;
    height: 100%;
    margin: 0px;
    margin-top: 70px;
    padding: 0px;
    background-color: rgb(245, 219, 115);
}
main {
    padding: 5vh;
    position: absolute;
    min-height: 100vh;
    width: 100vw;
    color: #000;
    background-color: rgb(245, 219, 115);
    box-sizing: border-box;
    flex:1;
}

.cartc {
    background-color: rgb(245, 211, 76);
    width:700px;
    border-color: grey;
    margin: 10px 120px 100px 280px;
    color: black;
    font-size: 16px;
    text-align: right;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    -webkit-box-shadow: 5px;
    -webkit-border-radius: 0 0  5px 5px;
    border-radius: 5px;
    transition:all ease .2s;
    overflow-x:hidden;
}

.models {
    display:none;
}

ul li a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
ul li a:hover {
    font-weight: bold;
    text-decoration: none;
    color: darkgreen;
}
li {
    list-style-type: none;
    text-decoration: none;
}
h1 {
    font-size: 2.2rem;
    text-decoration: none;
    font-family: 'Handlee', cursive;
}
h2 {
    font-size: 1.8rem;
    text-decoration: none;
    font-family: 'Handlee', cursive;
}
h3 {
    font-size: 1.5rem;
    text-decoration: none;
}
h4 {
    font-size: 1.3rem;
    text-decoration: none;
}
h5 {
    font-size: 1.0rem;
    text-decoration: none;
    font-style: normal;
    color: black;
    text-align: justify;
    padding-right: 42%;
    padding-left: 5%;
}
header {
    padding: 9px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    left:0;
    top:0;
    right:0;
    height:60px;
    align-items: center;
}
    

#header_logo {
    background-image: url(./assets/img_header.JPG);
    object-fit: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    height: 120px;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
}
header span a img{
    margin-left: 20px;
}
header span a img:hover {
    display: flex;
    scale: 1.1;
}
header ul {
    font-family: 'Poppins', sans-serif;
    display: flex;
    text-decoration: none;
    font-size: 1.4rem;
    align-items: center;
    color: darkgreen;
    gap: 50px;
    height: 100%;
}
.cartc--area {
    margin-top: 30px;
    padding:20px;
}

.cartc--area h1 {
    display: relative;
}

.cartc {
    margin-bottom:20px;
}

.cartc--item {
    display:flex;
    align-items:center;
    margin:10px 0;
}

.cartc--item img {
    max-width:10px;
    max-height:auto;
    margin-right:20px;
}

.cartc--item-nome {
    flex:1;
    margin-right: 30px;
}

.cartc--item--qtarea {
    display:inline-flex;
    background-color:white;
    border-radius:10px;
    height:30px;
}

.cartc--item--qtarea button {
    border:0;
    background-color:transparent;
    font-size:17px;
    outline:0;
    cursor:pointer;
    padding:0px 10px;
    color: black;
}

.cartc--item--qt {
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px;
    color:#000;
}

.cartc--totalitem {
    padding:15px 0;
    border-top:1px solid rgb(252, 93, 14);
    color:black;
    display:flex;
    justify-content: space-between;
    font-size:15px;
}

.cartc--totalitem span:first-child {
    font-weight: bold;
}

.cartc--totalitem.big {
    font-size:20px;
    color:#000;
    font-weight: bold;
}

.cartc--finalizar {
    padding:10px 10px;
    font-size: 20px;
    border-radius:5px;
    background: rgb(255, 127, 63);
    color:#FFF;
    cursor:pointer;
    text-align:center;
    margin-top:20px;
    border:1px solid white;
    transition: all ease .2s;
}

.cartc--finalizar:hover {
    background-color: rgb(252, 93, 14);
}

.cartc--limpar {
    padding:10px 10px;
    font-size: 20px;
    border-radius:5px;
    background: white;
    color:black;
    cursor:pointer;
    text-align:center;
    margin-top:20px;
    border:1px solid white;
    transition: all ease .2s;
}

.cartc--limpar:hover {
    background-color: rgb(212, 208, 208);
}
.footer {
    background-image: url(./assets/img_footer.JPG);
    background-size: 100%;
    background-repeat: no-repeat;
    position:absolute;
    left: 0;
    height: 140px;
    width: 100%;
    right: 0;
    margin: auto;
    top: 900px; 
    bottom: 0;
    padding: 0;
    object-fit: cover;
}
.footer_list {
    display: flex;
    justify-content: space-between;
    position:relative;
    left: 0;
    height: 100px;
    right: 0;
    margin: 0;
    bottom: 0;
    padding: 0;
    object-fit: cover;
}
.footer_card {
    background-color: rgb(149, 205, 65);
    border-radius: 12px;
    bottom: 0;
    position: relative;
    width: 160px;
    align-items: center;
    height: 20px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.footer_card:hover {
    scale: 1.1;
    background-color: rgb(33, 196, 33);
    transition: all 0.4s ease-in-out;
}
#footer_end {
    font-size: 0.9rem;
}

@media (max-width:1000px) {
    .product-area {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:840px) {
    body {
        flex-direction: column;
    }
    .product-area {
        display:block;
    }
    .product-item {
        max-width:100%;
    }
    header {
        display:flex;
    }
    aside {
        width:auto;
        position:fixed;
        left:100vw;
        right:0;
        top:0;
        bottom:0;
        transition: all ease .2s;
    }
    aside.show {
        width:auto;
    }
    .cartc--area {
        width:100vw;
    }

    .menu-closer {
        display:block;
    }

    .productWindowArea {
        justify-content:flex-start;
        align-items: flex-start;
    }

    .productWindowBody {
        width:100vw;
        display:block;
        padding:20px;
        border-radius:0;
        box-shadow:none;
        margin:0;
    }

    .productBig img {
        width: 75%;
        height: auto;
    }

    .productInfo h1 {
        margin-top:20px;
    }

    .productInfo--qtarea {
        height:60px;
    }
    
    .productInfo--qtarea button {
        font-size:25px;
        padding:0px 25px;
    }

    .productInfo--qt {
        line-height: 60px;
        font-size:20px;
    }

    .productInfo--addButton {
        font-size:20px;
        display:block;
        text-align:center;
        margin:30px auto;
    }

    .productInfo--cancelButton {
        display:none;
    }

    .productInfo--cancelMobileButton {
        display:block;
    }

}

@media (max-width:450px) {
    header h1 {
        font-size: 1.5rem;
    }
    .menu-openner {
        font-size: 1.5rem;
    }
}

@media (max-width:380px) {
    header h1 {
        font-size: 1rem;
    }
    .menu-openner {
        font-size: 1.5rem;
    }
}

#img-logo {
    width: 50px;
}