* {
    padding: 0;
    margin: 0;
    color: black;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
html, body{
    margin: 120px 0 0 0;
    background-image: url(./assets/img_bk_light.JPG);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:cover;
}
main {
    padding: 5vh;
    color: #000;
}
/* ---------- RESPONSIVIDADE CSS ---------- */
.small-header {
    font-size: 20px;
    padding: 10px;
}
ul li a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
ul li a:hover {
    font-weight: bold;
    text-decoration: none;
    color: darkgreen;
}
li {
    list-style-type: none;
    text-decoration: none;
}
h1 {
    font-size: 2.2rem;
    text-decoration: none;
    font-family: 'Handlee', cursive;
}
h2 {
    font-size: 1.8rem;
    text-decoration: none;
    font-family: 'Handlee', cursive;
}
h3 {
    font-size: 1.5rem;
    text-decoration: none;
}
h4 {
    font-size: 1.3rem;
    text-decoration: none;
}
h5 {
    font-size: 1.0rem;
    text-decoration: none;
    font-style: normal;
    color: black;
    text-align: justify;
    padding-right: 42%;
    padding-left: 5%;
}
header {
    padding: 1vh;
    display: flex;
    justify-content: space-between;
}
#header_logo {
    background-image: url(./assets/img_header.JPG);
    object-fit: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    height: 120px;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
}
header span a img{
    margin-left: 30px;
}
header span a img:hover {
    display: flex;
    scale: 1.1;
}
header ul {
    font-family: 'Poppins', sans-serif;
    display: flex;
    text-decoration: none;
    font-size: 1.4rem;
    align-items: center;
    color: darkgreen;
    gap: 50px;
    height: 100%;
    margin-right: 170px;
}
#logo_cart:hover{
    display: flex;
    scale: 1.5;
}

#main_search{
    background-color:rgb(223, 184, 171);
    border:solid 2px rgb(255, 127, 63);
    border-radius:10px;
    width:225px;
    height:32px;
    margin-left: 75%;
}
#search{
    float:left;
    background-color:white;
    padding-left:5px;
    font-size:16px;
    border:none;
    height:32px;
    width:150px;
}
#btnSearch{
    border:none;
    float:left;
    height:32px;
    font-size: 12px;
    border-radius:0 7px 7px 0;
    width:40px;
    font-weight:bold;
    background:rgb(255, 127, 63);
}
#btnSearch2{
    border:none;
    float:left;
    height:32px;
    font-size: 12px;
    border-radius:0 7px 7px 0;
    width:40px;
    font-weight:bold;
    background:rgb(255, 127, 63);
}
#main_search img{
    float:left;
}
/*---INDEX---*/
.slider {
    margin: 30px 10px 10px 150px;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    max-height: 380px;
    overflow:hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 10px 10px 10px 10px;
    cursor:pointer;
    border-radius: 12px;
}

.slides {   
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
}

.slide img {
    width: 1000px;
    border-radius: 20px;
}

.manual-navigation {
    position: absolute;
    width: 800px;
    margin-left: 100px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid green;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 50px;
}

.manual-btn:hover {
    background-color: green;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -30%;
}

#radio3:checked ~ .first{
    margin-left: -60%;
}

.navigation-auto div{
    border: 2px #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #fff;
}


.box_select select{
    border-color: black;
    width: 200px;
}
.box_select input{
    border-color: white;
    background-color: rgb(255, 127, 63);
    font-weight: bold;
    width: 70px;
}
.cx_title {
    display: flex;
    gap: 40px;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: center;
}
.cx_1 {
    background-color:rgb(255, 127, 63);
    border-radius: 12px;
    width: 80%;
    height: 80%;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor:pointer;
}
.cx_1:hover {
    scale: 1.1;
}
.cx_2 {
    background-color: rgb(245, 220, 119);
    border-radius: 12px;
    width: 100%;
    height: 300px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor:pointer;
}
.cx_2:hover {
    scale: 1.1;
}

.pre_footer {
    padding-bottom: 120px;
}
.footer {
    background-image: url(./assets/img_footer.JPG);
    background-size: 100%;
    background-repeat: no-repeat;
    position:relative;
    left: 0;
    height: 140px;
    width: 100%;
    right: 0;
    margin: auto;
    bottom: 0;
    padding: 0;
    object-fit: cover;
}
.footer_list {
    display: flex;
    justify-content:space-around;
    position:relative;
    left: 0;
    height: 100px;
    right: 0;
    margin: 10px;
    bottom: 0;
    padding: 0;
    object-fit: cover;
}
.footer_card img {
    width: 40%;
    float: right;
    margin: 0 0 10px 0;
}
.footer_card img:hover {
    scale: 1.1;
    transition: all 0.4s ease-in-out;
}
#footer_end {
    font-size: 0.9rem;
}