* {
    padding: 0;
    margin: 0;
    color: black;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
html, body{
    background-image: url(./assets/img_bk_light.JPG);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:cover;
}
main {
    padding: 5vh;
    color: #000;
}
/* ---------- RESPONSIVIDADE CSS ---------- */
.small-header {
    font-size: 20px;
    padding: 10px;
}
ul li a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
ul li a:hover {
    font-weight: bold;
    text-decoration: none;
    color: darkgreen;
}
li {
    list-style-type: none;
    text-decoration: none;
}
h1 {
    font-size: 2.2rem;
    text-decoration: none;
    font-family: 'Handlee', cursive;
}
h2 {
    font-size: 1.8rem;
    text-decoration: none;
    font-family: 'Handlee', cursive;
}
h3 {
    font-size: 1.5rem;
    text-decoration: none;
}
h4 {
    font-size: 1.3rem;
    text-decoration: none;
}
h5 {
    font-size: 1.0rem;
    text-decoration: none;
    font-style: normal;
    color: black;
    text-align: justify;
    padding-right: 42%;
    padding-left: 5%;
}
header {
    padding: 1vh;
    display: flex;
    justify-content: space-between;
}
#header_logo {
    background-image: url(./assets/img_header.JPG);
    object-fit: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    height: 120px;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
}
header span a img{
    margin-left: 30px;
}
header span a img:hover {
    display: flex;
    scale: 1.1;
}
header ul {
    font-family: 'Poppins', sans-serif;
    display: flex;
    text-decoration: none;
    font-size: 1.4rem;
    align-items: center;
    color: darkgreen;
    gap: 50px;
    height: 100%;
    margin-right: 170px;
}
#logo_cart:hover{
    display: flex;
    scale: 1.5;
}
.main{
    height: 130px;
}

.linha1, .linha2, .linha3 {
    display: flex;
    flex-flow: row wrap;
}
 
.main_description_one {
    border-radius: 12px;
    max-width: 80%;
    align-items: center;
    height: 55%;
    margin: 40px 50px 50px 100px;
    padding: 20px;
    display: flexbox;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgb(245, 223, 137);
}
.main_description_two {
    border-radius: 12px;
    width: 10%;
    height: 400px;
    padding: 30px;
} 
.main_description_three {
    border-radius: 12px;
    width: 50%;
    height: 100px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.quem_somos {
    text-align: justify;
    color: black;
    font-size: 1.0rem;
    margin: 10px 50px 10px 40px;
    padding: 0 80px 0 80px;
}
#title_style {
    border-radius: 12px;
    width: 80%;
    text-align:center;
    margin: 10px 10px 10px 110px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgb(245, 223, 137);
}
.cx_title {
    display: flex;
    gap: 40px;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: center;
}
.section_style_left1 {
    background-color: rgb(180, 214, 129);
    border-radius: 12px;
    width: 400px;
    height: auto;
    margin: 10px 40px 10px 10px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor:pointer;
    text-align: justify;
}
.section_style_left1:hover {
    scale: 1.1;
}

.section_style_left2 {
    background-color: rgb(180, 214, 129);
    border-radius: 12px;
    width: 400px;
    height: auto;
    margin: 10px 40px 10px 10px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor:pointer;
    text-align: justify;
}
.section_style_left2:hover {
    scale: 1.1;
}

.section_style_left3 {
    background-color: rgb(180, 214, 129);
    border-radius: 12px;
    width: 800px;
    height: auto;
    margin: 10px 40px 10px 10px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor:pointer;
    text-align: justify;
}
.section_style_left3:hover {
    scale: 1.1;
}


#main_search{
    background-color:rgb(223, 184, 171);
    border:solid 2px rgb(255, 127, 63);
    border-radius:10px;
    width:300px;
    height:32px;
    margin-left: 75%;
}
#search{
    float:left;
    background-color:white;
    padding-left:5px;
    font-size:16px;
    border:none;
    height:32px;
    width:191px;
}
#btnSearch{
    border:none;
    float:left;
    height:32px;
    font-size: 12px;
    border-radius:0 7px 7px 0;
    width:74px;
    font-weight:bold;
    background:rgb(255, 127, 63);
}
#btnSearch2{
    border:none;
    float:left;
    height:32px;
    font-size: 12px;
    border-radius:0 7px 7px 0;
    width:79px;
    font-weight:bold;
    background:rgb(255, 127, 63);
}
#main_search img{
    float:left;
}
/*---INDEX---*/
.slider {
    margin: 0 auto;
    margin-top: 30px;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
}

.slide img {
    width: 800px;
}

.manual-navigation {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid green;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: green;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -30%;
}

#radio3:checked ~ .first{
    margin-left: -60%;
}

.navigation-auto div{
    border: 2px #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #fff;
}


.box_select select{
    border-color: black;
    width: 200px;
}
.box_select input{
    border-color: white;
    background-color: rgb(255, 127, 63);
    font-weight: bold;
    width: 70px;
}

.cx_1 {
    background-color: rgb(255, 127, 63);
    border-radius: 12px;
    width: 30%;
    height: 250px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor:pointer;
}
.cx_1:hover {
    scale: 1.1;
}
.cx_2 {
    background-color: rgb(245, 220, 119);
    border-radius: 12px;
    width: 30%;
    height: 250px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor:pointer;
}
.cx_2:hover {
    scale: 1.1;
}
/*.main_login {
    display: flex;
    gap: 40px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.main_login1 {
    background-color: rgb(245, 220, 119);
    border-radius: 12px;
    width: 500px;
    height: 300px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.main_login1 a:hover{
    font-weight: bold;
    text-decoration: none;
    color: darkgreen;
}
.main_login2 {
    background-color: rgb(245, 220, 119);
    border-radius: 12px;
    width: 500px;
    height: 300px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.main_login1 button[type="submit"], .main_login2 button[type="submit"]{
    width: 100%!important;
    cursor: pointer;  
    background: rgb(255, 127, 63);
    padding: 8px 5px;
    color: #fff;
    font-size: 20px;  
    border: 1px solid #fff;   
    margin-bottom: 10px;  
    text-shadow: 0 1px 1px #333;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    transition: all 0.2s linear;
}
.main_login1 label, .main_login2 label {
    color: black;
    position: relative;
}
.main_login1 fieldset, .main_login2 fieldset {
    width:500px;
    height:50px;
    border-radius: 12px;
    border-color: grey;
}
.main_login1 input, .main_login2 input {
    background-color: white;
    position:absolute;
    width:480px;
    border-color: grey;
    border-radius: 6px;
}*/

/* FORMULARIO CADASTRO */
    
/* content que contem os formulários */
.cad_content{
    width: 300px;
    height: 150px;
    margin: 150px 120px 100px 280px;
    padding: 100px;
    position: relative;
}

/* formatando o cabeçalho dos formulários */
    
.cad_container label{
    color:black;
    position: relative;
}
    
::-webkit-input-placeholder  {
    color: darkgreen  ; 
}
.cad_content input:-moz-placeholder,
.cad_content textarea:-moz-placeholder{
    color: darkgreen;
} 
.cad_content input {
    outline: none;
}
    
.cad_content input:not([type="checkbox"]){
    width: 95%;
    margin-top: 4px;
    padding: 10px;  
    border-color: grey;
    background-color: white;
    
    -webkit-border-radius: 3px;
    border-radius: 6px;
    
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
    
.cad_content input[type="submit"]{
    width: 100%!important;
    cursor: pointer;  
    background: rgb(255, 127, 63);
    padding: 8px 5px;
    color: #fff;
    font-size: 20px;  
    border: 1px solid #fff; 
    margin-bottom: 10px;  
    text-shadow: 0 1px 1px #333;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    transition: all 0.2s linear;
}
.cad_content input[type="submit"]:hover{
    background: rgb(252, 93, 14);
}
    
.cad_link{
    position: absolute;
    background: rgb(247, 215, 90);
    color: black;
    left: 0px;
    height: 20px;
    width: 440px;
    padding: 17px 30px 20px 30px;
    font-size: 16px;
    text-align: right;
    border-top: 1px solid #fff;
    
    -webkit-border-radius: 0 0  5px 5px;
    border-radius: 5px;
}
.cad_link a {
    background: rgb(255, 127, 63);
    padding: 6px;
    color: white;
    margin-left: 10px;
    border: 1px solid #fff;
    
    -webkit-border-radius: 4px;
    border-radius: 4px;  

    -webkit-transition: all 0.4s linear;
    transition: all 0.4s  linear;
}
.cad_link a:hover {
    color: white;
    background: rgb(252, 93, 14);
    border: 1px solid white;
}
    
#cad_cadastro, 
#cad_login{
    position: absolute;
    top: 0px;
    width: 88%; 
    padding: 18px 6% 60px 6%;
    margin: 0 0 35px 0;
    background-color: rgb(245, 220, 119) ;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
    -webkit-box-shadow: 5px;
    border-radius: 5px;
    
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}
    
#paracadastro:target ~ .cad_content #cad_cadastro,
#paralogin:target ~ .cad_content #cad_login{
    z-index: 2;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
}
#registro:target ~ .cad_content #cad_login,
#paralogin:target ~ .cad_content #cad_cadastro{
    -webkit-animation-name: fadeOutLeft;
    animation-name: fadeOutLeft;
}
    
/*fadeInLeft*/
@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}
    
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
    
/*fadeOutLeft*/
@-webkit-keyframes fadeOutLeft {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
    }
}
    
@keyframes fadeOutLeft {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-20px);
    }
}

.cad_content label {
    margin-bottom: .2rem;
    position: relative;
  }
  
.cad_content label:not(:first-of-type){
    margin-top: 1rem;
  }
  
.cad_content input {
    padding: .2rem .5rem;
  }

.helper-text {
    display: none;
    font-size: .8rem;
    color: darkred;
  }
/* ---------- Estilos dinâmicos ---------- */
.required-popup::after {
    content: "*Campo obrigatório";
    position: relative;
    top: 0;
    right: 0;
    color: #DFDFDF;
    font-size: .65rem;
    padding: .2rem .3rem;
    width: auto;
    display: block;
    background-color: #202020;
}

.cad_content input.error {
    border: solid 2px #992020;
    background-color: #CCBBBB;
    color: #662020;
}

.cad_content input.correct {
    background-color: #c5f8c5;
    border: solid 2px #2bd62b;
    color: #206620;
}

.visible {
    display: block;
}

.msg-success, .msg-error {
    visibility:hidden;
    position: relative;
    text-align: center;
    color: black;
}

form i {
    position: absolute;
    top: 45px;
    right: 10px;
    visibility: hidden;
}

.section_recipe {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-end;
}
.section_recipe1 {
    background-color: rgb(245, 220, 119);
    border-radius: 12px;
    width: 550px;
    height: 950px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.section_recipe2 {
    background-color: rgb(245, 220, 119);
    border-radius: 12px;
    width: 350px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    margin-left: 15px;
    height: 950px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.section_recipe_top{
    background-color: white;
    border-radius: 12px;
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    height: 230px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.form_contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(245, 220, 119);
    border-radius: 12px;
    width: 900px;
    height: 300px;
    height: 50%;
    min-height: 200px;
    max-height: 400px;
    padding: 10px;
    text-align: start;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.form_contact1 input{
    background-color: white;
    width:350px;
    padding: 10px;
    border-color: grey;
    border-radius: 6px;
}
.form_contact2 textarea{
    background-color: white;
    width:400px;
    height: 200px;
    padding: 10px;
    border-color: grey;
    border-radius: 6px;
}
.form_contact2 input{
    width: 100px;
    cursor: pointer;  
    background: rgb(255, 127, 63);
    padding: 8px 5px;
    color: #fff;
    font-size: 15px;  
    border: 1px solid #fff;   
    margin-bottom: 10px;  
    text-shadow: 0 1px 1px #333;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    transition: all 0.2s linear;
}
.carrinho {
    padding: 0 300px 0 300px;
}
.cx_carrinho1 {
	border-radius: 8px;
	border-color: #000;
}
.cx_carrinho2 {
    background-color: rgb(243, 233, 193);
    border-radius: 12px;
    width: 600px;
    height: 400px;
    padding: 10px;
    margin-bottom: 5px;
    text-align: start;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.cx_carrinho3 {
	padding: 15px 20px 0 20px;
}
.carrinho_linha {
	display: flex;
	padding: 15px 0;
	flex-direction: row;
}
.carrinho_linha1 {
	height: 100px;
}
.carrinho_linha1_img {
	flex: 1;
	position: relative;
}
.carrinho_linha1_img span {
	width: 0;
	height: 0;
	border-radius: 30px;
	display: inline-block;
	background-size: contain;
}
.carrinho_linha1_prod {
	flex: 2;
}
.carrinho_linha1_prod h4 {
	margin: 10px 0 0;
}
.carrinho_linha1_prod p {
	margin: 5px 0 0;
	font-size: 0.9em;
}
.carrinho_linha1_quant {
	flex: 2;
}
.carrinho_linha1_quant ul {
	list-style: none;
}
.carrinho_linha1_quant ul li {
	display: inline-block;
	font-size: 0.8em;
	padding: 0 5px;
}
.carrinho_linha1_quant ul li a {
	color: #000;
	text-decoration: none;
}
.carrinho_linha1_valor {
	flex: 1;
}
.carrinho_linha1_valor p {
	margin: 23px 0 0 0;
}
.carrinho_resumo {
    background-color: rgb(240, 236, 220);
    border-radius: 12px;
    width: 600px;
    height: 200px;
    padding: 10px;
    text-align:center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.carrinho_vltotal {
	display: flex;
	flex-direction:row;
}
.carrinho_vltotal p{
	margin: 5px 0;
    padding: 0 5px 0 5px;
}
.carrinho_vltotal_titulo {
	flex: 1;
	text-align: left;
}
.carrinho_total {
	flex: 1;
	text-align: right;
}
.carrinho_resumo button {
    width: 50%;
    cursor: pointer;  
    background: rgb(255, 127, 63);
    padding: 8px 5px;
    color: #fff;
    font-size: 20px;  
    border: 1px solid #fff;   
    margin-bottom: 10px;  
    text-shadow: 0 1px 1px #333;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    transition: all 0.2s linear;
}
.pre_footer {
    padding-bottom: 120px;
}
.footer {
    background-image: url(./assets/img_footer.JPG);
    background-size: 100%;
    background-repeat: no-repeat;
    position:relative;
    left: 0;
    height: 140px;
    width: 100%;
    right: 0;
    margin: auto;
    bottom: 0;
    padding: 0;
    object-fit: cover;
}
.footer_list {
    display: flex;
    justify-content: space-between;
    position:relative;
    left: 0;
    height: 100px;
    right: 0;
    margin: 0;
    bottom: 0;
    padding: 0;
    object-fit: cover;
}
.footer_card {
    background-color: rgb(149, 205, 65);
    border-radius: 12px;
    width: 160px;
    align-items: center;
    height: 20px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.footer_card:hover {
    scale: 1.1;
    background-color: rgb(33, 196, 33);
    transition: all 0.4s ease-in-out;
}
#footer_end {
    font-size: 0.9rem;
}